@import "tailwindcss";

*{
    scroll-behavior: smooth;
}


@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.8;
  }
}

.floating-icon {
  position: absolute;
  color: #74747290;
  opacity: 0.6;
  animation: float 6s ease-in-out infinite;
}

/* optional: add delay for variety */
.floating-icon:nth-child(2) {
  animation-delay: 1s;
}
.floating-icon:nth-child(3) {
  animation-delay: 2s;
}
.floating-icon:nth-child(4) {
  animation-delay: 3s;
}
.floating-icon:nth-child(5) {
  animation-delay: 4s;
}


@keyframes floaty {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.8;
  }
}

.floating-shape {
  position: absolute;
  animation: floaty 6s ease-in-out infinite;
  filter: blur(5px);
}

/* Optional: add different delays for natural motion */
.floating-shape:nth-child(2) {
  animation-delay: 1s;
}
.floating-shape:nth-child(3) {
  animation-delay: 2s;
}
.floating-shape:nth-child(4) {
  animation-delay: 3s;
}
.floating-shape:nth-child(5) {
  animation-delay: 4s;
}
